//= require_tree .

@font-face {
  font-family: "LigatureSymbols";
  src: url("/components/ligature_symbols/LigatureSymbols-2.11.eot");
  src: url("/components/ligature_symbols/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"),
       url("/components/ligature_symbols/LigatureSymbols-2.11.woff") format("woff"),
       url("/components/ligature_symbols/LigatureSymbols-2.11.ttf") format("truetype"),
       url("/components/ligature_symbols/LigatureSymbols-2.11.svg#/components/ligature_symbols/LigatureSymbols") format("svg");
  src: url("/components/ligature_symbols/LigatureSymbols-2.11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-ligature-symbol]:after {
  font-family: "LigatureSymbols";
  content: attr(data-ligature-symbol);
  margin-left: 2px;
  -webkit-text-rendering: optimizeLegibility;
     -moz-text-rendering: optimizeLegibility;
      -ms-text-rendering: optimizeLegibility;
       -o-text-rendering: optimizeLegibility;
          text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

.btn {
  margin: 1px 0;
  padding: 2px 3px;
}

html, body {
  height: 100%;
}

body {
  margin: 1em;
}

h1 {
  font-family: "Quando";
  letter-spacing: -0.075em;
  a {
    color: #505152;
  }
}

nav {
  ul {
    display: inline;
    &.resources li {
      margin: 0 0.5em;
    }
  }
  li, li form {
    display: inline;
  }
}

nav.global {
  position: absolute;
  top: 1em;
  right: 1em;
  a {
    color: black;
  }
  a.user-name {
    margin-right: 0.2em;
  }
  form.sign-out-form {
    input[type="submit"] {
      padding: 0;
      background: transparent;
      border: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &:after {
      margin: 0;
    }
  }
  form.upload-form {
    display: block;
    label {
      font-weight: normal;
      &:hover {
        text-decoration: underline;
      }
    }
    &:after {
      margin: 0;
    }
  }
}

[download]:after {
  display: inline-block;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.upload-form {
  p {
    display: inline;
    label {
      display: inline;
      cursor: pointer;
    }
  }
  input[type="file"], input[type="submit"] {
    display: none;
  }
}
