//= require_tree .


@font-face {
  font-family: "LigatureSymbols";
  src: url("/components/ligature_symbols/LigatureSymbols-2.11.eot");
  src: url("/components/ligature_symbols/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"),
       url("/components/ligature_symbols/LigatureSymbols-2.11.woff") format("woff"),
       url("/components/ligature_symbols/LigatureSymbols-2.11.ttf") format("truetype"),
       url("/components/ligature_symbols/LigatureSymbols-2.11.svg#/components/ligature_symbols/LigatureSymbols") format("svg");
  src: url("/components/ligature_symbols/LigatureSymbols-2.11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 1em;
}

nav {
  ul {
    display: inline;
    &.resources li {
      margin: 0 0.5em;
    }
  }
  li, li form {
    display: inline;
  }
}

nav.global {
  position: absolute;
  top: 1em;
  right: 1em;
}

.upload-form {
  p {
    display: inline;
    label {
      display: inline;
    }
  }
  input[type="file"], input[type="submit"] {
    display: none;
  }
}
