.book-heading {
  h2, h3 {
    display: inline;
  }
  h2:after {
    content: "/"
  }
}

#book-controls {
  ul {
    list-style: none;
  }
}

.embedding-tag {
  label {
    display: inline;
    font-weight: bolder;
  }
  textarea {
    height: 4em;
    width: 100%;
  }
}

div.embedded {
  height: 100%;
}
