.book-list form {
  display: inline;
}

.book-heading {
  margin-bottom: 1em;
  h2, h3 {
    display: inline;
  }
  h2:after {
    content: " / "
  }
}

#book-controls {
  margin-top: 1em;
  .customizing {
    padding: 0;
    li {
      display: inline;
      margin: 0 1px;
      input {
        width: 4em;
      }
    }
  }
  ul {
    list-style: none;
  }
}

.embedding-tag {
  label {
    display: inline;
    font-weight: bolder;
  }
  textarea {
    height: 8em;
    width: 100%;
    margin-top: 0.5em;
    border: solid 3px gray;
    &:hover {
      border-color: black;
    }
  }
}

div.embedded {
  margin: 1em;
  padding: 0;
  height: 100%;
  .bibi-holder {
    border-top: solid #777 25px;
    border-bottom: solid #555 30px;
    border-radius: 5px;
  }
}

.upload-form {
  p, input {
    display: inline;
  }
  label {
    display: block;
  }
}
