.ligature-symbol {
  font-family: "LigatureSymbols";
  -webkit-text-rendering: optimizeLegibility;
     -moz-text-rendering: optimizeLegibility;
      -ms-text-rendering: optimizeLegibility;
       -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.user-heading {
  display: inline-block;
  a {
    color: black;
  }
}

.users_create {
  input {
    margin: 0;
  }
}

ul.validation-notices {
  margin-bottom: 2em;
}

div.edit-area {
  display: inline-block;
  margin-left: 1em;
  form {
    display: none;
    padding: 0.5em;
    border: gray dotted thin;
  }
}

div.delete-area {
  display: inline;
  form {
    display: inline;
  }
}

.user-books, .user-feeds {
  h3 {
    color: #555;
    padding: 0 0 0.3em 0.3em;
    border-bottom: #aaa solid 1px;
  }
  textarea {
    width: 100%;
  }
  .feed {
    margin: 1em 0 2em 1em;
    h5 {
      padding-left: 1em;
      border-left: solid 0.5em;
    }
    p, textarea, ul {
      margin-left: 1em;
    }
  }
}
