.ligature-symbol {
  font-family: "LigatureSymbols";
  -webkit-text-rendering: optimizeLegibility;
     -moz-text-rendering: optimizeLegibility;
      -ms-text-rendering: optimizeLegibility;
       -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h2.user-heading {
  display: inline-block;
  a {
    color: black;
  }
}

.users_create {
  input {
    margin: 0;
  }
}

ul.validation-notices {
  margin-bottom: 2em;
}

div.edit-area {
  display: inline-block;
  margin-left: 1em;
  form {
    display: none;
    padding: 0.5em;
    border: gray dotted thin;
  }
}

div.delete-area {
  display: inline;
  form {
    display: inline;
  }
}

.user-books {
  h3 {
    color: #555;
    padding: 0 0 0.3em 0.3em;
    border-bottom: #aaa solid 1px;
  }
  .book-list {
    padding-left: 2em;
  }
  .feeds {
    float: right;
    margin-left: 2em;
    h4 {
      cursor: pointer;
      &:after {
        .ligature-symbol;
        content: "right";
        display: block;
        float: left;
        margin-left: -1.5em;
        padding: 27% 0.5em;
        background-color: #f3f3f3;
      }
    }
    ul {
      padding-left: 0.3em;
      list-style: none;
    }
    .feed-type {
      &:after {
        .ligature-symbol;
        margin-right: 0.2em;
      }
    }
    textarea {
      display: block;
      margin-bottom: 0.5em;
      width: 100%;
      height: 6em;
    }
    &.contracted {
      width: 20%;
      color: gray;
      &:hover {
        color: inherit;
      }
      h4:after {
        content: "left";
        padding-top: 22%;
        padding-bottom: 22%;
      }
      li {
        white-space: nowrap;
        overflow: scroll;
        textarea {
          display: none;
        }
      }
    }
  }
}
