<ul class="book-list">
<% books.each do |book| %>
  <li>
    <%= link_to book.title.presence || t('books.unknown_title'), url(:users_books, :show, :user_id => book.user.name, :id => book.id) %>
    (<%= number_to_human_size book.file_size %>)
    - <%= link_to book.user.display_name, url(:users, :show, :name => book.user.name) %>
    <% if current_user == book.user %>
      <%= partial 'books/delete_form', :locals => {:book => book} %>
    <% end %>
  </li>
<% end %>
</ul>
