<% form_for book, url(:books, :destroy, :id => book.id) do |f| %>
  <%= hidden_form_method_field 'delete' %>
  <%= f.submit 'Delete' %>
  <% if f.error_messages.present? %><p><%= f.error_messages %></p><% end %>
<% end %>
