<% content_for :title do %><%= t('books.uploaded_books') %><% end %>

<article>
  <h1><%= t('books.uploaded_books') %></h1>
  <%= partial 'books/book_list', :locals => {:books => @books} %>
  <%= paginate @books %>
</article>
