<% form_for @book || Book.new, url(:books, :create), :enctype => 'multipart/form-data' do |f| %>
  <p><%= f.error_messages %></p>
  <%= f.file_field_block :epub, :required => true %>
  <%= f.submit t('upload') %>
<% end %>
