<% content_for :title do %><%= t('books.new') %><% end %>

<% form_for @book || Book.new, url(:books, :create), :class => 'upload-form', :enctype => 'multipart/form-data' do |f| %>
  <p><%= f.error_messages %></p>
  <%= f.file_field_block :epub, :required => true %>
  <%= f.submit t('helpers.upload'), :class => 'btn btn-primary' %>
<% end %>
