<% content_for :title do %><%= t('books.new') %><% end %>

<article>
  <% form_for @book || Book.new, url(:users_books, :create, :user_id => current_user.id), :class => 'upload-form', :enctype => 'multipart/form-data' do |f| %>
    <p><%= f.error_messages %></p>
    <%= f.file_field_block :epub, :required => true %>
    <%= f.submit t('helpers.upload'), :class => 'btn btn-primary' %>
  <% end %>
</article>
