<iframe src="/components/bibi/bib/i/?book=<%= File.basename(@book.epub.current_path) %>" width="90%" height="90%"></iframe>
<ul>
  <li>Embed into your blog!<br>
    <textarea readonly class="embedding-iframe-tag" onclick="this.select();" style="width: 70%;"><%= embedding_tag(@book) %></textarea>
  </li>
  <li><%= link_to 'Download', :href => File.basename(@book.epub.current_path) %></li>
  <li><%= link_to 'Open book directly', :href => embedding_url(@book), :target => '_blank' %></li>
</ul>
